{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 600,
    "quoteProps": "consistent",
    "proseWrap": "never",
    "semi": true,
    "singleQuote": false,
    "tabWidth": 2,
    "trailingComma": "es5",
    "jsxBracketSameLine": false,
    "useTabs": false
  }