@import "./responsive";

// Global variables that can be used anywhere in the app (that imports this stylesheet)
$primary-color: #D04283;
$secondary-color: #C178FF;
$white: #FFFFFF;
$black: #000000;
$border-radius: 8px;