@import "./light-theme.css";

:root {
    --primary-color: #D04283;
    --secondary-color: #C178FF;
    --white: #FFFFFF;
    --black: #000000;
    --off-background: #f5f5f5;
    --border-radius: 8px;
}