@import "../../common/styles/responsive";
@import "../../common/styles/styles";

.home-wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px;
  flex: 1;
  align-items: center;
  margin-top: 25%;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    
    // Example for tablet (and below) view
    @include tablet-landscape-and-below {
      width: 80vw;
    }

    // Example for mobile-only view
    @include mobile-only {
      width: 90vw;
    }

    .switch-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 15px;

      .switch {
        display: flex;
        width: 50px;
        margin-right: 10px;
      }
    }   
  } 
}

.fade-in {
  animation: fadeIn;
  animation-duration: 0.6s;
}
  
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
  