@import "../node_modules/normalize.css/normalize.css";
@import "./common/styles/responsive";                              
@import "./common/styles/styles.scss";

.app-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}